body{
    font: 14px/1.5 Helvetica Neue,Helvetica,Arial,Microsoft Yahei,Hiragino Sans GB,Heiti SC,WenQuanYi Micro Hei,sans-serif;
    color: #333;
    overflow-y: scroll;
}

*{
    background-color: rgba(0,0,0,0.1);
}
@font-face {  /* 声明字体 */
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?8qhwk5');
    src:  url('../fonts/icomoon.eot?8qhwk5#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?8qhwk5') format('truetype'),
      url('../fonts/icomoon.woff?8qhwk5') format('woff'),
      url('../fonts/icomoon.svg?8qhwk5#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
  }
a{
    text-decoration: none;
}
ul ,ol{
    list-style: none;
    margin: 0;
    padding: 0;
}


/* 导航栏颜色为#333333 */
.topbar{
    background-color: #333333;
    height: 40px;
}

/*版心为1226px  */
.topbar .container{
    width: 1226px;
    /* 整体样式都是居中的 */
    margin: 0 auto;
    /* height: 100%; */
}

/* .topbar的.topbar-list（导航菜单）左浮动 */
.topbar .topbar-list{
    float: left;
}
/*a作为span的父元素 加一个相对定位 */
.topbar .download{
    position: relative;
}

/* 添加二维码图片 */
.topbar .download .appcode img{
    display: block;
    margin: 18px auto 12px;
}
/* 给span绝对定位 并设置样式 */
.topbar .download .appcode {
    position: absolute;
    top: 40px;
    left: 50%;
    width: 124px;
    height: 0;
    background: #fff;
    margin-left: -55px;
    box-shadow: 0 1px 5px #aaa;
    text-align: center;
    font-size: 14px;
    color: #333;
    line-height: 1;
    overflow: hidden;
    transition: height .3s;
    z-index: 1;
}
/* 给a设置hover */
.topbar .download:hover .appcode{
    width: 124px;
    height: 150px;
}

/* 画2伪类三角形  */
.topbar .download::before {
    content: "";
    border: 8px solid white;
    border-color: transparent transparent transparent transparent;
    position: absolute;
    top: 11px;
    left: 13px;
}
/* 给a:hover之后before */
.topbar .download:hover::before{
    border-color: transparent transparent white transparent;
}




/* .topbar的.cart（购物车）右浮动 */
.topbar .cart{
    float: right;
    /* 给购物车添加盒子 使里面的内容垂直居中 水平居中*/
    height: 40px;
    /* 水平居中 */
    text-align: center;
    /* 垂直居中 */
    line-height: 40px;
    /* 与左边的元素拉开15个像素 */
    margin-left: 15px;
    /* 使这个盒子更宽一些 */
    width: 120px;
    background-color: #424242;
}


i{
    /* 去除斜体 */
    font-style: normal;
}
/* 给购物车添加伪类 */
/* .topbar .iconfont-cart::before{
    content: "\E60C";
} */
/* 购物车图标 */
.topbar .iconfont-cart{
	font-family: "icomoon";
	font-style: normal;  /* 让倾斜的不倾斜 */
    color: #ABAFB0;
}
/* 让购物车的宽度和父元素一样宽 */
.topbar .cart .iconfont-cart{
    display: block;
    width: 120px;
}
/* 购物车添加hover */
.topbar .cart .iconfont-cart:hover{
    color: #ff8400;
    background-color: #fff;
}
/* 添加相对定位 */
.topbar .cart{
    position: relative;
}
/* 给购物车后面套一个购物框 */
.topbar .cart-add{
    position: absolute;
    right: 0;
    top: 40px;
    z-index: 32;
    width: 316px;
    height: 0;
    color: #424242;
    background: #fff;
    box-shadow: 0 2px 10px rgba(0,0,0,.15);
    overflow: hidden;
    transition: height .3s;
    /* padding: 0; */
    line-height: 40px; 
    font-size: 12px;

}
/* 伪类垂直居中 */
.cart-add::before {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    content: "";
}
.topbar .cart:hover .cart-add {
    height: 80px;
    line-height: 80px;
    background-color: #fff;
}

/* .topbar的.login(用户) 右浮动*/
.topbar .login{
    float: right;
}

/* .bartop 下面的a元素 */
.topbar a{
    color: #b0b0b0;
    text-decoration: none;
    height: 40px;
    line-height: 40px;
    font-size: 12px;
}
/* .topbar 下面的span */
.topbar span{
    color:#424242;
    /* 外边距按12px等比缩放 */
    margin: .3em;
}
/* 被hover的.topbar里面的a 颜色为#fff */
.topbar a:hover{
    color: #fff;
}


/*********************************************************************顶部栏结束*************************************************************************************************/





/* /****************************************************************导航栏开始***************************************************************************************************/
/* 小米导航栏 */
.nav{
    width: 1226px;
    margin: auto;
    height: 100px;
    font-size: 16px;
    background-color: #fff;
}
/* 添加浮动  使块元素的margin高度为22px */
.nav .logo{
    float: left;
    width: 62px;
    margin-top: 22px;
}
/* 小米mi-logo */
.mi-logo{
    float: left;
    position: relative;
    display: block;
    width: 56px;
    height: 56px;
    background-color: #ff8400;
    overflow: hidden;
  
} 

/* 在a之前添加伪元素 */
.mi-logo::before{
    display: block;
    width: 55px;
    height: 55px;
    content: "";
    background-image: url(../img/mi-logo.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    transition:all .2s;
}
.mi-logo:hover::before{
    margin-left: 55px;
}
/* 在a之后添加伪元素 */
.mi-logo::after{
    display: block;
    width: 55px;
    height: 55px;
    content: "";
    background-image: url(../img/mi-home.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    /* 往左边移出边框55像素 */
    margin-left: -55px;
    margin-top: -102px;
}
/* 给logo一个hover */
.mi-logo:hover::after{
    margin-left: 0px;
}



/* 小米第二导航栏 */
.nav .categories{
    height: 100px;
    float: left;
}
.nav-wrapper{
    position: relative;
}
.nav .list-item{
    float: left;
    height: 100px;
}
/* a元素行高为100 */
.nav .list-item a{
    height: 100px;
    line-height: 100px;
    padding: 0px 10px;
}
.nav .list-item a:hover{
    color: #ff7400;
}
/* ul距离logo  180像素 */
.nav .categories{
    margin-left: 180px;
}
/* 第二个ul标签距离为0 */
.nav .list2{
    margin-left: 0;
}

.nav .submenu{
    position: absolute;
    left: 0px;
    width: 100%;
    overflow:hidden;
    transition: 1s;
    background-color: white;
    height: 0;
    z-index: 3;
}
.nav .nav-category{
    width: 1226px;
    margin: auto;
    display: flex;
}
.nav .nav-category li{
    margin: 30px 0px;
    margin-right: 40px;

}
.nav .nav-category span{
    display: block;
    margin-top: -45px;
    text-align: center;
}
/* nav 下ul中li的hover之后的div */
.nav .categories li:hover .submenu{
    height: 230px;
    background-color: white;
}

 .nav-category{
   margin: 0;
   padding: 0;
}







/* 小米搜索框 */
.nav .site-search{
    float: right;
    width: 296px;
    /* 往下走25px */
    margin-top: 25px;
}

/* 给表单设定一个高度 给他后代元素绝对定位 */
.nav .site-search form{
    width: 296px;
    height: 50px;
    position: relative;
    margin-left: 1px;
}

.nav .site-search form .search-text{
    /* 245px */
    width: 223px;
    height: 48px;
    border: 1px solid #e0e0e0;
    font-size: 14px;
    padding: 0 10px;
    float: left;
}
/* 两个input框之间有间隙解决办法
    将两个input框放一行
    设置浮动
*/
.nav .site-search form .search-btn{
    /* 这个按钮框中有间隙  给一个负margin-left消除 */
    margin-left: -1px;
    width: 50px;
    height: 50px;
    border: 1px solid #e0e0e0;
    background-color: #fff;
    float: left;
}

.nav .site-search form .search_word{
    position: absolute;
    top: 15px;
    left: 40px;
    font-size: 12px;
    color: #757575;
}
/* icon图标 */
.bigsearch{
    font-family: "icomoon";
    font-size: 25px;
	font-style: normal;  /* 让倾斜的不倾斜 */
    color: #757575;
}
.bigsearch{
    position: absolute;
    top: 8px;
    right: 12px;
}
.nav .site-search form .search_word a{
    /* 将a元素装换为块元素 */
    display: inline-block;
    /*让两个a元素之间有空格*/
    margin-left: 5px ;
    padding:0 5px;
    background-color: #eee;
}
.nav .site-search form .search-btn{
    color: transparent;
}
.nav .site-search form .search_word a:hover{
    background-color: #ff8400;
}
.nav .site-search form .search-btn:hover{
    background-color: #ff8400;
}




/* 小米侧边栏 */
 .hero{
    width: 1226px;
    height: 460px;
    margin: auto;
    position: relative;
    /* display: flex; */
}
/* 定位侧边栏 */
.detail-category{
    position: absolute;
    left: 0;
    top: 0;
    width: 234px;
    /* 上下padding 20px */
    padding: 20px 0;
    margin: -20px 0;
    /* 高度加padding会超出去  给一个border-box */
    box-sizing: border-box;
    z-index: 3;

}
.detail-category > li{
    height: 46px;
    line-height: 46px;
    background: rgba(105,101,101,.6);  

}
.detail-category > li > a{
    color: #fff;
    margin-left: 30px;
    display: inline-block;

}
.detail-category img{
    width: 40px;
    height: 40px;
    float: left;

}

.detail-category > li:hover{
    background-color: #ff6700;
}
/* 添加伪元素  让其右浮动 */
/* 相对于ul定位用百分比比较好   相对于hero定位的话  宽度只能写死 */
.detail-list{
    position: absolute;
    left: 100%;
    top: 0;
    display: none;
    height: 100%;
    width: 234px;
    float: left;
    font-size: 0;
}
.detail-category > li::after{
    content: '>';
    float: right;
    margin-right: 10px;
}
/* 此处用了flex布局  不知道为什么hover不住  只能使用padding改变元素位置 脱离文档流 */
.detail-category > li > div{
    padding: 20px 0 0 20px;
}
.detail-category > li:hover div{
    display: flex;
    width: 984px;  
    background-color: white;
}
.detail-list li{
    width: 234px;
    height: 83px;
    font-size: 16px;
}
detail-list li:hover{
    color: #ff8400;
}





/* 轮播图 */
.slider{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.slider .slider-list{
    display: none;
}
input:nth-child(1):checked ~ .prev-btns > label:nth-child(5){
    display: block;
}
input:nth-child(2):checked ~ .prev-btns > label:nth-child(1){
    display: block;
}
input:nth-child(3):checked ~ .prev-btns > label:nth-child(2){
    display: block;
}
input:nth-child(4):checked ~ .prev-btns > label:nth-child(3){
    display: block;
}
input:nth-child(5):checked ~ .prev-btns > label:nth-child(4){
    display: block;
}
.prev-btns,
.next-btns{
    position: absolute;
    width: 40px;
    height: 70px;
    top: 0; 
    bottom: 0;
    margin: auto;
}
.prev-btns{
    left: 234px;
}
.next-btns{
    right: 0px;
}
input:nth-child(1):checked ~ .next-btns > label:nth-child(2){
    display: block;
}
input:nth-child(2):checked ~ .next-btns > label:nth-child(3){
    display: block;
}
input:nth-child(3):checked ~ .next-btns > label:nth-child(4){
    display: block;
}
input:nth-child(4):checked ~ .next-btns > label:nth-child(5){
    display: block;
}
input:nth-child(5):checked ~ .next-btns > label:nth-child(1){
    display: block;
}
.prev-btns label,
.next-btns label{
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 70px;
    font-size: 40px;
    line-height: 70px;
    text-align: center;
    display: none;
    opacity: 0;
    z-index: 1;
} 
.prev-btns label:hover,
.next-btns label:hover{
    opacity: .3;
    background-color: #7F7575;
    
}
.indicators{
    position: absolute;
    z-index: 1;
    bottom: 30px;
    right: 15px;
}
.indicators > label {
    color: #7F7575;
    display: inline-block;
    height: 6px;
    width: 6px;
    border-radius: 6px;
    margin: 0px 1px;
    background-color: green;
    border: 2px solid;
    background: rgba(0,0,0,0.4);
}
.indicators > label:hover{
    background-color: #fff;
}
input:nth-child(1):checked ~ .indicators > label:nth-child(1){
    opacity: 1;
    z-index: 8;
}
input:nth-child(2):checked ~ .indicators > label:nth-child(2){
    opacity: 1;
    z-index: 8;
}
    
input:nth-child(3):checked ~ .indicators> label:nth-child(3){
    opacity: 1;
    z-index: 8;
}
input:nth-child(4):checked ~ .indicators > label:nth-child(4){
    opacity: 1;
    z-index: 8;
}
input:nth-child(5):checked ~ .indicators > label:nth-child(5){
    opacity: 1;
    z-index: 8;
}



.imgs{
    position: absolute;
    width: 100%;
    height: 100%;
}
.imgs img{
    width: 992px;
    height: 460px;
    margin-left: 234px;
}
/* 显示不出来的原因  层级不够   上方的label也要调*/
.imgs > a{
    transition: .1s;
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 80px;
    line-height: 245px ;
    opacity: 0;  
}
input:nth-child(1):checked ~ .imgs> a:nth-child(1){
    opacity: 1;
}
input:nth-child(2):checked ~ .imgs > a:nth-child(2){
    opacity: 1;
}
input:nth-child(3):checked ~ .imgs> a:nth-child(3){
    opacity: 1;
}
input:nth-child(4):checked ~ .imgs > a:nth-child(4){
    opacity: 1;
}
input:nth-child(5):checked ~ .imgs > a:nth-child(5){
    opacity: 1;
}


/* 雪碧图 */
.hore-sub{
    width: 1226px;
    margin:0 auto;
    height: 210px;
    margin-top: 14px;
    margin-bottom: 20px;
}
.hore-sub::before{
    content: "";
    display: table;
}
.sprite{
    width: 234px;
    height: 208px;
    float: left;
    min-height: 1px;
    background: #5f5750;
    /* margin-top: 5px; */
}
.sprite-list{
    padding: 3px;
    font-size: 12px;
    text-align: center;
}
.sprite-list li{
    position: relative;
    float: left;
    width: 70px;
    height: 100px;
    padding: 0 3px;
    line-height: 15px;
}
.sprite-list li::before{
    content: "";
    top: -1px;
    left: 6px;
    width: 64px;
    height: 1px;
    position: absolute;
    background-color: #665e57;
}
.sprite-list li::after{
    content: "";
    top: 6px;
    left: 0px;
    width: 1px;
    height: 70px;
    position: absolute;
    background-color: #665e57;
}
.sprite-list li img{
    display: block;
    width: 26px;
    height: 26px;
    margin: 15px auto 4px;
}
.sprite-list li > a{
    display: inline-block;
    color: #fff;
    transition: opacity .2s;
}
.sprite-list li img:hover{
    opacity: .7;
}
.sprite-list li > a:hover{
    opacity: .7;
}

/* 三个number */
.next-list{
    width: 978px;
    float: left;
    margin-left: 14px;
    min-height: 1px;
}
.li-number{
    margin: 0px;
    padding: 0px;
}

.first img{
    float: left;
    width: 316px;
    height: 210px;
    margin-right: 15px;
}
.second img{
    float: left;
    width: 316px;
    height: 210px;
    
}
.third img{
    float: left;
    width: 316px;
    height: 210px;
    margin-left: 15px;
}
/*****************************************************************导航栏结束****************************************************************************************************/







/*************************主页内容*****************************/
.content_description{
    width: 1226px;
    margin: 0 auto;
    padding:0;
    background-color: #f5f5f5;
    padding-top: 4px;
    /* padding-bottom: 12px; */
}
.container{
    width: 100%;
    height: 398px;
    margin-bottom: 22px;
    position: relative;
}
.box-hd{
    position: relative;
    height: 58px;
}
.box-hd .flash{
    font-size: 22px;
    line-height: 58px;
    color: #333;
    font-weight: 200;
    margin-top: 0;
}
.flashale{
    height: 300px;
    padding-top: 39px;
    border-top-width: 1px;
    border-top-style: solid;
    background: #f1eded;
    text-align: center;
    float: left;
    width: 234px;
    margin-right: 14px;
}
.flashale .round{
    font-size: 21px;
    color: #ef3a3b;
    padding-top: 15px;
}
.flashale img{
    margin: 25px auto;
} 
.flashale .over{
    color: rgba(0,0,0,.54);
    font-size: 15px
}
.coundown{
    width: 168px;
    margin: 28px auto 0;
}
.coundown span{
    width: 46px;
    height: 46px;
    background: #605751;
    color: #fff;
    font-size: 24px;
    line-height: 46px;
    float: left;
}
.coundown i{
    width: 15px;
    float: left;
    height: 46px;
    line-height: 46px;
    color: #605751;
    font-size: 28px;
    font-style: normal;
}
.flashle-next{
    float: left;
}
 
.row{
    width: 1226px;
    height: 320px;
    display: flex;

}
.row .flashale{
    width: 20%;
    height: 88%;
    flex-grow:1 ;
}
.slider-next{
    width: 20%;
    height: 100%;
    flex-grow: 1;
    background-color: violet;
    margin-right: 15px;
}
.slider-second{
    width: 20%;
    flex-grow: 1;
    background-color: green;
    margin-right: 15px;

}
.slider-third{
    width: 20%;
    flex-grow: 1;
    background-color: pink;
    margin-right: 15px;

}
.slider-four{
    width: 20%;
    flex-grow: 1;
    background-color: yellow;
}
.center-banner{
    width: 100%;
    height: 120px;
    margin-top: 25px;
}









.all{
    width: 1226px;
    background-color: #f5f5f5;
}

.all-telephone{
    position: relative;
    height: 58px;
}

.all-telephone .telephone{
    font-size: 22px;
    line-height: 58px;
    color: #333;
    font-weight: 200;
}
.look-all{
    display: inline-block;
    font-size: 16px;
    line-height: 58px;
    color: #424242;
    position: absolute;
    top: 0;
    right: 0px;

}
.icon-all{
	font-family: "icomoon";
	font-style: normal;  /* 让倾斜的不倾斜 */
    color: #fff;
    background-color: #b0b0b0;
    opacity: .3;
}
.look-all:hover,
.look-all:hover .icon-all{
    color: #ff8400;
}



.more{
    display: flex;
    flex-flow: column wrap;
    list-style-type: none;
    width: 1226px;
    padding: 0;
    height: 614px;
    justify-content: space-between;
    align-content: space-between;
}
.more li {
    width: 234px;
    height: 300px;
  }

.more li:first-child {
    height: 100%  ;
  }

.home-banner-box{
    margin: 22px 0;
}
.home-banner-box img{
    display: block;
}
.home-tt{
    position: relative;
}
.home-tv{
    font-size: 22px;
    line-height: 58px;
    color: #333;
    font-weight: 200;
}
.tab{
    position: absolute;
    right: 0;
    top: 0;
}
.tab-list{
    margin: 0;
    padding: 16px 0 0;
    list-style-type: none;
    font-size: 16px;
}
.tab-list li{
    display: inline;
    margin: 0 0 0 30px;
    line-height: 40px;
}

.household{
    display: flex;
    flex-flow: column wrap;
    list-style-type: none;
    width: 1226px;
    padding: 0;
    height: 614px;
    justify-content: space-between;
    align-content: space-between;
}
.household li {
    width: 234px;
    height: 300px;
}
.household li:nth-last-child(-n + 2) {
    height: 145px;
}

.video{
    position: relative;
    height: 58px;
    margin: 22px 0;
}

.video .title {
    margin: 0;
    font-size: 22px;
    font-weight: 200;
    line-height: 58px;
    color: #333;
}
.video-all{
    position: absolute;
    top: 0;
    right: 0;
}
.video-all li{
    font-size: 16px;
    line-height: 57px;
    color: #424242;
    transition: all .4s;
}
.video-all a{
    color: #ccc;
}
.video-all a:hover{
    color: #ff8400;
}

.four{
    font-size: 0;
    display: flex;
}
.four .four-list{
    margin-left: 0;
}
.four .four-list-4{
    margin-right: 0;
}
.four li{
    position: relative;
    float: left;
    width: 296px;
    height: 285px;
    margin-left: 14px;
    margin-bottom: 14px;
    text-align: center;
    background: #fff;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
}